body {
  background: #1f2937;
  margin: 0;
}

.container {
  width: 550px;
  height: 550px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  display: flex;
  width: 550px;
  margin-left: 6.5em;
  flex-direction: column;
}
.passwords-fields {
  display: flex;
  width: 550px;
  gap: 1em;
  justify-content: center;
}
.button {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-left: 6.5em;
}

h1 {
  width: 354px;
  height: 80px;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-left: -3px;
  letter-spacing: -0.025em;
}
span {
  display: block;
  margin: 0 auto;
  color: #4adf86;
}
h2 {
  width: 372px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #d5d4d8;
}
button {
  padding: 0.8em 1.8em;
  width: 210px;
  margin-top: 2.3em;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Inter";
  border: none;
  color: #ffffff;
  letter-spacing: 1px;
}

#line {
  margin-top: 2em;
  width: 446px;
  border: 1px solid #2f3e53;
}

input {
  width: 211px;
  height: 39px;
  border: none;
  color: #ffffff;
  text-align: center;
  background: #273549;
  border-radius: 6px;
  margin-top: 2em;
}

#inputTwo {
  width: 211px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
  color: #ffffff;
}
